* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
}
body {
  font-family: Inter, system-ui, Arial, sans-serif;
  color: #111827;
}
button,
input,
select {
  font-family: inherit;
}
